body {
  font-family: 'Poppins', sans-serif;
}

@import'components/accordeon-searchbar';
@import'components/fonts';
@import'components/buttons';
@import'components/colors';
@import'components/card';
@import'components/curses';
@import'components/home';
@import'components/header';
@import'components/profile';
@import'components/blog';