body {
  font-family: "Poppins", sans-serif;
}

.accordion__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
  width: 184px;
}

.accordion__span {
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  color: #333333;
  width: 30px;
}

.accordion__link {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #0F254E;
}

.link--variant {
  color: #3F75D9;
}

.accordion__oval {
  width: 193px;
  height: 38px;
  border: solid 5px grey;
  border-radius: 30px;
  text-align: center;
  padding: 4px;
}

.oval--variant {
  color: #8244AB;
  border: solid 5px #8244AB;
}

.accordion--link {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #8244AB;
}

.link--different {
  color: gray;
}

.search__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
}

.search__bar {
  width: 401px;
  height: 38px;
  border: solid 4px grey;
  border-radius: 25px;
  padding: 4px;
}

.search__img {
  max-width: 24px;
  max-height: 23px;
  margin-left: 14px;
  margin-top: 9px;
}

.fonts {
  color: #333333;
}

.fonts__h1 {
  font-weight: 600;
  font-size: 30px;
}

.fonts--flex {
  display: flex;
}

.fonts__div--margin {
  margin-right: 80px;
  margin-left: 6px;
}

.fonts__h2 {
  font-weight: 700;
  font-size: 16px;
}

.fonts-poppins {
  font-weight: 400;
  font-size: 32px;
  margin-top: 20px;
}

.fonts__p--bold {
  font-weight: 700;
  font-size: 55px;
  margin-top: -13px;
}

.fonts__span {
  margin-left: 20px;
}

.span1 {
  margin-top: 28px;
}

.fonts__p--semibold {
  font-weight: 600;
  font-size: 40px;
  margin-top: -40px;
}

.span2 {
  margin-top: -14px;
}

.fonts__p--medium {
  font-weight: 500;
  font-size: 30px;
  margin-top: -20px;
}

.span3 {
  margin-top: -5px;
}

.fonts__p--regular {
  font-size: 20px;
  margin-top: -5px;
}

.span4 {
  margin-top: -1px;
}

.btn__section {
  display: flex;
  font-size: 24px;
}

.btn__section--position {
  display: flex;
  margin-right: 40px;
  width: 500px;
  align-items: center;
}

.btn__section--p1 {
  margin-right: 30px;
}

.btn__btnForm {
  border: 1px solid #000;
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
  background-color: white;
}

.btn__section--c {
  color: #777777;
  font-size: 24px;
}

.btn--blue {
  border: 2px solid #0F254E;
  color: #0F254E;
}

.btn--darkBlue {
  background-color: #0F254E;
  color: white;
  width: 170px;
}

.btn--purpleBasic {
  background-color: #8244AB;
  color: white;
}

.btn__section--c {
  color: #777777;
  font-size: 24px;
}

.btn--blue {
  border: 2px solid #0F254E;
  color: #0F254E;
}

.btn--darkBlue {
  background-color: #0F254E;
  color: white;
  width: 170px;
}

.btn--purpleBasic {
  background-color: #8244AB;
  color: white;
}

.btn--blueBasic {
  background-color: #3F75D9;
  color: white;
  border: none;
  width: 130px;
  height: 50px;
}

.btn--purpleTwo {
  background-color: #572E72;
  color: white;
}

.color-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
}

.color__principal {
  width: 215px;
  height: 50px;
  background-color: #8244AB;
  border-radius: 7px;
  display: flex;
  padding: 12px;
}

.color__text {
  margin-left: 15px;
  width: 48px;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #FFFFFF;
}

.color__text--variant {
  width: 59px;
}

.flex {
  width: 230px;
  height: 50px;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.flex__contain {
  width: 50px;
  height: 50px;
  background: #CFB0E3;
  border-radius: 11px;
}

.violet__1 li:nth-child(2) {
  background: #9F69C3;
}
.violet__1 li:nth-child(3) {
  background: #8244AB;
}
.violet__1 li:nth-child(4) {
  background: #743D98;
}

.violet__2 li:nth-child(1) {
  background: #653585;
}
.violet__2 li:nth-child(2) {
  background: #572E72;
}
.violet__2 li:nth-child(3) {
  background: #48265F;
}
.violet__2 li:nth-child(4) {
  background: #3A1E4C;
}

.violet__3 li:nth-child(1) {
  background: #2B1739;
}
.violet__3 li:nth-child(2) {
  background: #1D0F26;
}
.violet__3 li:nth-child(3) {
  background: #0E0813;
}
.violet__3 li:nth-child(4) {
  background: #000000;
}

.secundario {
  background: #3F75D9;
}

.blue__1 li:nth-child(1) {
  background: #A9C1F0;
}
.blue__1 li:nth-child(2) {
  background: #6A94E2;
}
.blue__1 li:nth-child(3) {
  background: #3F75D9;
}
.blue__1 li:nth-child(4) {
  background: #2964D0;
}

.blue__2 li:nth-child(1) {
  background: #2457B6;
}
.blue__2 li:nth-child(2) {
  background: #1F4B9C;
}
.blue__2 li:nth-child(3) {
  background: #1A3E82;
}
.blue__2 li:nth-child(4) {
  background: #153268;
}

.blue__3 li:nth-child(1) {
  background: #0F254E;
}
.blue__3 li:nth-child(2) {
  background: #0A1934;
}
.blue__3 li:nth-child(3) {
  background: #050C1A;
}
.blue__3 li:nth-child(4) {
  background: #050C1A;
}

.terciario {
  background: #333333;
}

.gray__1 li:nth-child(1) {
  background: #777777;
}
.gray__1 li:nth-child(2) {
  background: #4A4A4A;
}
.gray__1 li:nth-child(3) {
  background: #333333;
}
.gray__1 li:nth-child(4) {
  background: #2D2D2D;
}

.gray__2 li:nth-child(1) {
  background: #282828;
}
.gray__2 li:nth-child(2) {
  background: #222222;
}
.gray__2 li:nth-child(3) {
  background: #1C1C1C;
}
.gray__2 li:nth-child(4) {
  background: #171717;
}

.gray__3 li:nth-child(1) {
  background: #111111;
}
.gray__3 li:nth-child(2) {
  background: #0B0B0B;
}
.gray__3 li:nth-child(3) {
  background: #060606;
}
.gray__3 li:nth-child(4) {
  background: #000000;
}

.contain {
  display: flex;
  gap: 24px;
}

.card_h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
}

.card {
  width: 296px;
  height: 340px;
  border: 4px black solid;
  border-radius: 15px;
  position: relative;
  padding-bottom: 8px;
}

.background--img {
  width: 296.17px;
  height: 174.73px;
  background: #D9D9D9;
  border-radius: 13px;
  text-align: center;
}

.card__h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  text-align: left;
  margin-left: 20px;
}

.card__p {
  width: 264.46px;
  height: 44.76px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
  text-align: left;
  margin-left: 20px;
}

.card__button {
  width: 69px;
  height: 24px;
  border: 2px solid #3F75D9;
  border-radius: 15px;
  color: #3F75D9;
  background: #ffffff;
  text-align: center;
  position: relative;
  left: 25px;
  margin-top: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.home__h1 {
  position: absolute;
  margin-top: 122px;
  font-size: 100px;
  color: white;
  margin-left: 40px;
  line-height: 110px;
  letter-spacing: -4px;
}

.home__p {
  position: absolute;
  margin-top: 500px;
  margin-left: 40px;
  color: white;
  font-size: 28px;
}

.home__img {
  width: 1263px;
  margin: -8px;
  margin-bottom: -14px;
}

.header {
  display: flex;
  align-items: center;
  height: 95px;
  width: 1263px;
  margin-left: -8px;
  margin-top: -8px;
}

.header--background {
  background-color: #E7E7E7;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__logo {
  width: 164px;
  margin-left: 40px;
  margin-right: 41px;
}

.header__a {
  text-decoration: none;
  color: #0F254E;
  font-weight: 500;
  margin-left: 43px;
}

.header__a:hover {
  text-decoration: underline;
}

.header__a--press {
  text-decoration: underline;
  color: #3F75D9;
}

.header__arrow {
  width: 17px;
}

.header__sign-in {
  text-decoration: none;
  margin-left: 210px;
  border: 2px solid #0F254E;
  color: #0F254E;
  font-weight: 500;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 15px;
}

.header__log-in {
  text-decoration: none;
  margin-left: 20px;
  background-color: #0F254E;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 15px;
  width: 170px;
}

.profile__general {
  width: auto;
  height: 650px;
  margin: 10px 120px 10px 120px;
}

.profile__h1 {
  font-weight: 600;
  font-size: 45px;
}

.profile__div--position {
  display: flex;
  width: 1100px;
  height: 200px;
  background-color: #F5F5F5;
  border-radius: 15px;
  margin: 20px 0 30px;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.profile__user {
  width: auto;
  height: auto;
  margin: 0px 40px 0px;
  position: relative;
}

.profile--img {
  width: 100px;
  position: relative;
  left: 10px;
  top: 15px;
}

.profile__user--span {
  font-size: 12px;
  position: relative;
  bottom: 20px;
  left: 10px;
}

.profile__user--p {
  font-size: 20px;
  font-weight: 500;
  width: 800px;
  border-bottom: 1px solid #BDBDBD;
}

.color__border {
  border: none;
}

.profile__user--span1 {
  position: relative;
  left: 220px;
}

.profile__user--span2 {
  position: relative;
  left: 139px;
}

.profile__user--span3 {
  position: relative;
  left: 177px;
}

.profile__curses {
  display: grid;
  width: 850px;
}

.profile__curses--p {
  font-size: 20px;
}

.profile__curses--bar {
  background: #BDBDBD;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
  width: 650px;
  height: 25px;
  position: relative;
  bottom: 17px;
}

.profile__curses--bar2 {
  border: 1px solid #777777;
  width: 400px;
  height: 25px;
  border-radius: 20px;
  background: #777777;
}

.profile__curses--bar2-1 {
  width: 200px;
  border: 1px solid #777777;
  height: 25px;
  border-radius: 20px;
  background: #777777;
}

.positionsubtitle {
  position: relative;
  right: 160px;
  bottom: 70px;
  font-weight: 600;
}

.profile__btn {
  width: 490px;
  height: 40px;
  margin-left: 10px;
  border-radius: 15px;
  background: #8244AB;
  border: none;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile__btn--img {
  width: 20px;
  position: relative;
  right: 15px;
  top: 2px;
}

.container {
  text-align: center;
}

.container__title {
  font-weight: 600;
  font-size: 48px;
  color: #333333;
}

.container__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 37px;
  color: #777777;
  width: 360px;
  margin: 0 auto;
}

.navegation {
  margin-top: 46px;
  margin-bottom: 56px;
}

.navegation__btn1 {
  border: 3px solid #8244AB;
  border-radius: 15px;
  width: 271px;
  height: 38px;
  font-weight: 500;
  font-size: 25px;
  color: #8244AB;
  margin-right: 23px;
}

.navegation__btn2 {
  width: 139px;
  height: 38px;
  border: 3px solid #8244AB;
  border-radius: 15px;
  font-weight: 500;
  font-size: 25px;
  color: #8244AB;
  margin-bottom: 24px;
  margin-top: 24px;
}

.navegation__form {
  position: relative;
}

.navegation__form::before {
  content: url("/images/lupa.png");
  position: absolute;
  top: 7px;
  left: 11px;
}

.form__search {
  width: 355px;
  height: 38px;
  border: 3px solid #777777;
  border-radius: 15px;
}

.card-rows {
  width: 1244px;
  display: flex;
  margin-bottom: 70px;
}

.card-content {
  border: 4px solid #494949;
  border-radius: 25px;
  margin-bottom: 24px;
}

.card-content__img {
  width: 100%;
  border-radius: 20px;
}

.card-content__title {
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: #333333;
  max-width: 374px;
  margin-left: 11px;
}

.card-content__text {
  font-weight: 400;
  font-size: 13px;
  color: #777777;
  max-width: 335.65px;
  margin-left: 13px;
}

.card-content__button {
  height: 25px;
  border: 2px solid #3F75D9;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #3F75D9;
  margin-left: 12px;
  margin-bottom: 20px;
}

.container-butt {
  text-align: center;
}

.container-butt__last {
  height: 38px;
  border: 3px solid #777777;
  border-radius: 15px;
  font-weight: 500;
  font-size: 25px;
  color: #777777;
}/*# sourceMappingURL=styles.css.map */