*{
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1023px;
  overflow: hidden;
}

.hero{
  background-size: cover;
  min-width: 500px;
  height: 20vh;
}

.nav{
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);

  padding: 40px 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}

.nav:target{
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0);
}

.nav__logo{
  font-size: 2.5rem;
}

.nav__hamburguer,
.nav__close{
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: .4s transform;
}

.nav__icon{
  width: 40px;
}

.nav__hamburguer{
  transform: var(--state-hamburguer);
}

.nav__close{
  transform: var(--state-close);
}

.nav__links{
  background-color: #E7E7E7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;

  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;

  transform: var(--state-menu);
  transition: .3s transform;
}

.nav__item{
  list-style: none;
}

.nav__link{
  color: #0F254E;
  text-decoration: none;
  font-size: 21px;
  letter-spacing: 2px;
}