.home__h1 {
  position: absolute;
  margin-top: 122px;
  font-size: 100px;
  color: white;
  margin-left: 40px;
  line-height: 110px;
  letter-spacing: -4px;
}

.home__p {
  position: absolute;
  margin-top: 500px;
  margin-left: 40px;
  color: white;
  font-size: 28px;
}

.home__img {
  width: 1263px;
  margin: -8px;
  margin-bottom: -14px;
}

