body{
  max-height: 1000px;
}

header{
  display: flex;
  align-items: center;
}

.profile{
  margin: 0 auto;
  width: auto;
}

.profile__title{
  font-size: 24px;
  font-weight: 500;
  position: relative;
  left: 80%;
  right: 20%;
}

.profile__container--position{
  width: auto;
  height: 170px;
  background-color: #F2F4F8;
}

.profile__container-a{
  display: flex;
  width: auto;
  align-items: center;
  padding: 0 16px;
}

.profile__container-user{
  margin-left: 20px;
  margin-top: 10px;
}

.profile__name-user{
  font-size: 13px;
  font-weight: 500;
}

.profile__user-twitter{
  font-size: 11px;
  position: relative;
  bottom: 20px;
}

.profile-img{
  width: 67px;
}

.profile__user{
  width: auto;
  padding: 0 20px;
}

.profile__info-user{
  font-size: 10px;
  width: auto;
  border-bottom: 1px solid #BDBDBD;
}


.profile__subinfo-user{
  font-size: 10px;
  position: sticky;
  left: 33%;
  right: 30%;
}

.profile__subinfo1-user{
  font-size: 10px;
  position: sticky;
  left: 33%;
  right: 30%;
}

.profile__subinfo2-user{
  font-size: 10px;
  position: sticky;
  left: 33%;
  right: 30%;
}

.profile__positionsubtitle-curses{
  text-align: right;
  position: relative;
  top: 16px;
}

.profile__curses{
  width: auto;
  padding: 0 20px;
}

.profile__title-curses{
  font-size: 11px;
}

.profile__cont-curses{
  position: relative;
  top: 34px;
}

.profile__bar-curses{
  background: #BDBDBD;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
  width: auto;
  height: 8px;
  position: relative;
  bottom: 5px;
}

.profile__barA-curses{
  border: 1px solid #777777;
  width: 70%;
  height: 7px;
  border-radius: 20px;
  background: #777777;
}

.profile__barB-curses{
  width: 40%;
  border: 1px solid #777777;
  height: 7px;
  border-radius: 20px;
  background: #777777;
}

.profile__btn{
  width: 60%;
  height: 38px;
  margin-left: 10px;
  border-radius: 15px;
  background: #8244AB;
  border: none;
  font-size: 20px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-img__btn::before{
  content: url(/images/white-empty-heart.png);
  position: relative;
  width: 20%;
}

.profile-img__btn2::before{
  content: url(/images/star.png);
  position: relative;
  width: 20%;
}